/*=== IMPORT GOOGLE FONTS===*/

@import url(https://fonts.googleapis.com/css?family=Economica:400,700); /* font-family: 'Economica' */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700); /* font-family: 'Open Sans'; */

/* Задачи:

1) Сделать типографию + ссылке в топовых постах +
2) Оптимизировать код: прописать префиксы, поудалять ненужные параметры
3) Пофиксить нижний блок после картинок: добавить иконку к ссылке "more testimonials" +
4) Решить что-то со шрифтами +
5) Подобавлять ко всем путям изображений в HTML './'
6) Сделать нормально иконку-ссылку в нижем меню (стрелочка) +
7) Сделать перенос строки для цифр в нижнем центральном меню (black box) - padding
8) Пересохранить все изображения в PNG в черезстрочном формате
9) Сделать нормальный скелет header, section, footer
10) Убрать высоту у страниц
11) Изменить описание плиток в разделе menu 
12) Сделать якорь (arrow) адаптивным

*/

/*=== END IMPORT ===*/

.clearfix {
	content: '';
	display: block;
	clear: both;
}

body {
	background: #fff;
}

h1 {
	font: 36px/48px 'Economica', sans-serif;
	color: #fff;
}

h2 {
	font: bold 36px/48px 'Economica', sans-serif;
	color: #535151;
}

h3 {
	font: 24px/20px 'Open Sans', sans-serif;
	color: #636262;
}

h4 {
	font: bold 16px/20px 'Open Sans', sans-serif;
	color: #636262;
}

h5 {
	font: lighter 18px/20px 'Open Sans', sans-serif;
	color: #a6a6a6;
}

h6 {
	font: 18px/24px 'Open Sans', sans-serif;
}

p {
	font: lighter 14px/20px 'Open Sans', sans-serif;
	color: #969696;
}

a {
	outline: none;
	text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/*=== HEADER ===*/

#wrapper {
	height: 100%;
}

#header {
	background: #f1f0f1;
	height: 140px;
}

#logo {
	float: left;
	margin-top: 27px;
}

#navigation {
	float: right;
	text-transform: lowercase;
}

#navigation ul {
	margin-top: 60px;
}

#navigation li {
	display: inline-block;
	margin-left: 40px;
	font: bold 20px/48px 'Economica', sans-serif;
}

#navigation a {
	color: #727171;
}

#navigation .active {
	color: #aeceae;
}

/*=== END HEADER ===*/

/*=== PAGE "HOME" ===*/

.content {
	margin-left: -30px;
}

/*--- CATALOG ---*/

#top-menu {
	margin-top: 50px;
	height: 610px;
}

.box {
	height: 305px;
	width: 370px;
	background: #f1f0f1;
	margin-left: 30px;
}

.box h1 {
	text-align: center;
	padding-top: 125px;
}

.box a {
	font: 20px/48px 'Economica', sans-serif;
	color: #fff;
	margin: 15px 170px;
	display: block;
	text-transform: lowercase;
}

#catalog .col {
	float: left;
}

#catalog .left .box:first-child {
	background: url(../img/top-imga1.jpg);
}

#catalog .left .box:last-child {
	background: url(../img/top-imga2.jpg);
}

#catalog .center .box:first-child {
	background: url(../img/top-imgb1.jpg);
}

#catalog .center .box:last-child {
	background: url(../img/top-imgb2.jpg);
}

#catalog .right .box:first-child {
	background: url(../img/top-imgc1.jpg);
}

#catalog .right .box:last-child {
	background: url(../img/top-imgc2.jpg);
}

/*--- END CATALOG ---*/

#middle-menu {
	margin-top: 30px;
}

.middle-box {
	text-align: center;
	display: inline-block;
	float: left;
	height: 355px;
	width: 370px;
	margin-left: 30px;
}

.mm-img {
	height: 120px;
	width: 120px;
	border: 2px solid #9b9b9b;
	border-radius: 50%;
	text-align: center;
	line-height: 140px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

.middle-box a {
	font: bold 20px/48px 'Economica', sans-serif;
	margin-top: 30px;
	background: #fff;
	line-height: 32px;
	display: inline-block;
}

#middle-footer {
	height: 320px;
	background: #f1f0f1;
	margin-top: 20px;
}

#middle-footer .container {
	background: #f1f0f1;
}

#middle-footer p {
	margin-top: 20px;
}

#middle-footer a {
	font: bold 20px/48px 'Economica', sans-serif;
	line-height: 32px;
	display: inline-block;
}

#mid-left-col {
	float: left;
	width: 490px;
	padding: 35px 0;
	margin-left: 100px;
	display: block;
}

#mid-right-col {
	float: right;
	padding: 35px 0;
	width: 470px;
	margin-right: 75px;
}

#bottom-menu {
	height: 385px;
	margin-top: 43px;
}

#bottom-menu h2 {
	margin-bottom: 40px;
}

#bottom-menu img {
	display: block;
}


.bottom-box {
	width: 370px;
	float: left;
	margin-left: 30px;
}
.bottom-box a {
	display: block;
}

#add {
	width: 35px;
	height: 35px;
	background: url(../img/add-icon.png) no-repeat center, #2e2d2d;
	float: right;
	margin-top: 30px;
}

#add:active {
	box-shadow: inset 0 0 10px rgba(0,0,0,1);
}

#bottom-footer {
	height: 279px;
	margin-top: 97px;
}

#bottom-footer .bottom-box {
	height: 278px;
}

#bottom-footer .foot-center-col h2 {
	margin-bottom: 20px;
}

#apostroph {
	float: right;
	position: relative;
	top: -15px;
}

.foot-left-col img {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

.foot-left-col h4, p {
	margin-top: 15px;
	display: block;
}

.foot-left-col a {
	color: #9b9b9b;
	text-transform: lowercase;
	font: bold 20px/48px 'Economica', sans-serif;
	float: right;
}

.foot-left-col a:hover {
	color: #2e2d2d;
	transition: .2s;
}

.foot-left-col a {
	background: url(../img/arrow-icon.png) no-repeat left center;
	width: 135px;
}

#more-info {
	text-align: right;
}

.foot-center-col .element-box {
	height: 105px;
	width: 370px;
}

.foot-center-col .date-box {
	background: #000;
	color: #fff;
	font: bold 24px/30px 'Economica', sans-serif;
	width: 68px;
	text-align: center;
	line-height: 30px;
	display: block;
	margin-right: 30px;
	float: left;
	padding: 15px;
	height: 90px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.foot-center-col p {
	float: right;
	width: 235px;
	margin-top: -12px;
}

.foot-center-col span {
	float: right;
	width: 250px;
	margin-top: 10px;
	font: lighter 18px/20px 'Open Sans', sans-serif;
	color: #a6a6a6;
	position: relative;
	left: 14px;
	margin-bottom: 5px;
}

.foot-center-col p {
	margin-right: 30px;
	right: 10px;
}

.foot-right-col .time-box {
	height: 67px;
	width: 370px;
	background: #303030;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
}

.foot-right-col .time-box p {
	font: 24px/48px 'Economica', sans-serif;
	color: #fff;
	position: relative;
	top: -7px;
}

.foot-right-col .time-box span {
	font: bold 30px/48px 'Economica', sans-serif;
}

.foot-right-col .element-box {
	margin-top: 13px;
}

/*=== END PAGE "HOME" ===*/


/*=== PAGE "MENU" ===*/

.box-2 {
	height: 490px;
	width: 370px;
	background: #f1f0f1;
	float: left;
	margin: 30px 0 0px 30px;
}

.box-text {
	margin: 25px;
}

.button {
	border: 1px solid #9b9b9b;
	font: bold 20px/48px 'Economica', sans-serif;
	margin-top: 30px;
	width: 97px;
	height: 36px;
	color: #969696;
	line-height: 32px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	cursor: pointer;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.button:hover {
	color: #fff;
	background: #2e2d2d;
	border: 1px solid #2e2d2d;
	transition: .2s;
}

/*=== END PAGE "MENU" ===*/

/*=== PAGE "RESERVATION" ===*/

#left-column img {
	float: left;
}

#reservation h2 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.text-a {
	padding-left: 30px;
	width: 360px;
	float: left;
}

.text-b {
	width: 770px;
	float: left;
}

#right-column {
	width: 365px;
	float: right;
}

#right-column select {
	float: right;
	margin-left: 20px;
	height: 30px;
	width: 95px;
	margin-top: 15px;
	border: 1px solid #f1f1f1;
	font: 14px/27px 'Open Sans', sans-serif;
	background: #fdfdfd;
	color: #737272;
	outline: none;
	display: inline-block;
}

#right-column option {
	width: 55px;
	text-align: center;
}

#right-column .left_selection {
	float: left;
	width: 150px;
	height: 30px;
}

#right-column .right_selection {
	float: right;
	width: 150px;
	height: 30px;
}


input {
	margin-top: 15px;
	height: 30px;
	width: 365px;
	padding-left: 10px;
	font: 14px/27px 'Open Sans', sans-serif;
	background: #fdfdfd;
	color: #737272;
	border: 1px solid #f1f1f1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.cal-input {
	background: url(../img/cal-icon-menu.png) no-repeat 240px 2px, #fdfdfd;
} 

.short-input {
	width: 280px;
	float: right;
}

#right-column .button {
	float: right;
	margin-left: 15px;
}

#right-column textarea {
	height: 140px;
	width: 365px;
	margin-top: 65px;
	padding-left: 10px;
	font: 14px/27px 'Open Sans', sans-serif;
	border: 1px solid #f1f1f1;
	outline: none;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#right-column span {
	float: left;
	margin-top: 17px;
	font: 14px/27px 'Open Sans', sans-serif;
	color: #535151;
}

.input-contacts {
	font: 16px/20px 'Open Sans', sans-serif;
	color: #727171;
	margin-bottom: 45px;
	width: 90%;
}

/*=== END "RESERVATION" ===*/

/*=== PAGE "BLOG" ===*/

#blog {
	margin-top: 50px;
}

#blog h3 {
	margin-bottom: 25px;
}

#blog_page {
	width: 800px;
	float: left;
}

.blog_box {
	min-height: 680px;
	width: 670px;
}

#blog_list {
	width: 365px;
	height: 305px;
	float: right;
}

#blog_list h2 {margin-bottom: 10px;}

#blog_list a {
	font: 16px/24px 'Open Sans', sans-serif;
	color: #636262;
}

#blog_list ul {
	margin-left: 20px;
	list-style-type: disc;
	color: #636262;
}

#blog_posts {
	float: right;
	margin-top: 20px;
}

#blog_posts img {
	margin-bottom: 45px;
}

#blog_posts h2 {
	margin-bottom: 20px;
}

.posts_box{
	min-height: 125px;
	width: 365px;
}

.posts_text {
	width: 210px;
	float: right;
}

/*=== END PAGE "BLOG"===*/

/*=== FOOTER ===*/

#footer {
	background: #adacac;
	height: 140px;
	bottom: 0;
	position: relative;
	top: 35px;
}

#copyright b {
	font: lighter 18px/18px 'Open Sans', sans-serif;
}

#copyright p {
	padding-top: 50px;
	color: #e2e2e2;
	position: relative;
}

#copyright a {
	font: 14px 'Open Sans', sans-serif;
	color: #e2e2e2;
}

#social a {
	height: 24px;
	width: 24px;
	background: #ddd;
	border-radius: 50%;
	padding: 13px;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 16px;
	position: relative;
	top: -45px;
}

#social i {
	color: #fff;
	font-size: 24px;
}

#social {
	float: right;
}

#anchor {
	position: fixed;
	right: 200px;
	bottom: 120px;
	z-index: 1;
}

/*=== END FOOTER ===*/